<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<h1>注册</h1>
<form action="/register/" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }} {{ field }}
            {% for error in field.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}
    <input type="submit" value="注册">
</form>
</body>
<style>
    .error {
        color: red;
        font-size: small;
    }

    .fieldWrapper {
        margin-top: 10px;
    }
</style>
</html>